@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    user-select: none;
}

body,
html,
main {
    height: 100%;
}

body {
    background: #000000;
    font-family: 'Open Sans', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

.top {
    flex-shrink: 0;
    height: 90px;
    background-color: #000000;
    color: white;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.top-line {
    position: relative;
    width: 60px;
    border-top: 10px solid #e6ce37;
    margin-right: 20px;
    top: 12px;
}

.middle {
    text-align: center;
    background-color: #e6ce37;
    padding: 20px 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.middle-icon {
    width: 80px;
    height: 80px;
    background-image: url('../img/gym.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 15px;
}

.middle-slogan {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.middle-about {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px;
}

.middle-apps {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.middle-apps img {
    width: 32px;
    margin-right: 10px;
}

.middle-apps-button {
    width: 150px;
    height: 42px;
    padding: 5px 10px;
    margin: 5px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 14px;
    color: #e6ce37;
}

a {
    text-decoration: none;
    color: inherit;
}

a.link-underline {
    text-decoration: underline;
}

span.link-underline {
    font-weight: 700;
}

.middle-learning {
    margin-bottom: 20px;
    font-size: 14px;
}

.middle-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

@media(min-width: 600px) {
    .middle {
        row-gap: 40px;
    }

    .middle-icon {
        width: 140px;
        height: 140px;
    }

    .middle-slogan {
        font-size: 64px;
        line-height: 64px;
    }

    .middle-about {
        font-size: 48px;
        line-height: 52px;
    }
}

.bottom {
    flex-shrink: 0;
    font-size: 12px;
    height: 50px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}