html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

a {
    text-decoration: none; 
}

.main-navbar {
    font-size: 1.25rem;
}

.carousel-control-prev, 
.carousel-control-next {
    filter: invert(100%);
}

.main-description{
    font-size: 1.25rem
}

.secondary-description {
    font-size: 1.1rem
}

ul.no-decoration{
    list-style-type: none;
}